.navbar{
    overflow: hidden;
    background-color: #6ec538;

}
.navbar img{
    height: 6%;
    width: 6%;
    align-items: center;
    padding: 5px;
}
.navbar ul li a {
    float: left;
    text-decoration: none;
  }

.navbar ul li  {
    font-size: 30px;
    float: left;
    padding: 1px 30px;
    margin-left: 100%;
    list-style: none;
  }
  